.title{
    @apply
    text-5xl
    text-[#d7d9d7]
    drop-shadow-lg;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
}
.container{
    @apply
    flex
    flex-col
    justify-center 
    items-center
}
.mainContainerInput{
    @apply 
    w-full
    min-w-[42rem] 
    h-7
    pb-2
}
.mainInput{
    @apply
    relative
    h-full
    w-full
    bg-[#d7d9d7];
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
}

.tableDiv{
    @apply
    relative
    shadow-md 
    rounded-lg
    w-1/2
    
}
.table{
    @apply
    w-full
    pt-2
    text-xl
}
.tr{
    @apply
    bg-[#d7d9d7]
    pt-5
}
.td{
    @apply
    flex
    flex-col
    justify-center 
    items-center
    grid
    grid-cols-12
    pt-2
    pb-2
    pl-4
    pr-4
}
.messageTrue
{
    @apply 
    col-span-9
    w-full
    text-xl
    bg-transparent
    outline
    outline-0
    transition-all 
    placeholder-shown:border 
    border 
    border-0
    border-t-transparent 
    focus:border-t-transparent 
    text-sm px-3 py-2.5 
    /*Extra props*/
    text-[#989898]
    line-through;
    font-family: "Philosopher", sans-serif;
    font-size: 1.4rem;
}
.messageFalse{
    @apply 
    col-span-9
    w-full
    text-xl
    bg-transparent
    outline
    outline-0
    transition-all 
    placeholder-shown:border 
    border 
    border-0
    border-t-transparent 
    focus:border-t-transparent 
    text-sm px-3 py-2.5;
    font-family: "Philosopher", sans-serif;
    font-size: 1.4rem;
}
.a{
    @apply
    text-end
}
.svg1{
    @apply
    pt-[0.5rem]
    h-9
    w-9
}
.svg2{
    @apply
    pt-[0.5rem]
    h-7
    w-7
}
.footer {
    @apply
    absolute
    text-xl

    justify-center
    bottom-0
}