.title{
    @apply
    text-5xl
    drop-shadow-lg;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
}
.container{
    @apply
    flex
    flex-col
    justify-center 
    items-center
}
.mainContainerInput{
    @apply 
    w-full
    min-w-[42rem] 
    h-7
    pb-2
}
.mainInput{
    @apply
    relative
    h-full
    w-full;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
}

.tableDiv{
    @apply
    relative
    shadow-md 
    rounded-lg
    w-1/2
    
}
.table{
    @apply
    w-full
    text-xl
    text-left 
    rtl:text-right 
    rounded-lg
}
.tr{
    @apply
    bg-white
    border-b
}
